.navbar {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16) !important;
}

/* footer */
footer{
  background-color: #f8f9fa;
  border-top: 1px solid black;
}

@media (max-width: 768px) {
  .banner-img {
    width: 100%;
  }
}
@media (min-width: 769px) {
  .banner-img {
    height: 100vh;
  }
}

.bg-dark-75{
  background-color: black;
  opacity: 0.75;
}